#switches
NET "switch0" LOC="F12" | IOSTANDARD=LVTTL;
NET "switch1" LOC="G12" | IOSTANDARD=LVTTL;
NET "switch2" LOC="H14" | IOSTANDARD=LVTTL;
NET "switch3" LOC="H13" | IOSTANDARD=LVTTL;
NET "switch4" LOC="J14" | IOSTANDARD=LVTTL;
NET "switch5" LOC="J13" | IOSTANDARD=LVTTL;
NET "switch6" LOC="K14" | IOSTANDARD=LVTTL;
NET "switch7" LOC="K13" | IOSTANDARD=LVTTL;

#clock and reset
NET "clk" LOC="T9";
NET "rst" LOC="M13" | IOSTANDARD=LVTTL;

#Anode selection
NET "topselDispA" LOC = "F14" | IOSTANDARD=LVCMOS33;
NET "topselDispB" LOC = "E13" | IOSTANDARD=LVCMOS33;
NET "topselDispC" LOC = "G14" | IOSTANDARD=LVCMOS33;
NET "topselDispD" LOC = "D14" | IOSTANDARD=LVCMOS33;

#7 segment display
NET "topsegA" LOC = "E14" | IOSTANDARD=LVCMOS33;
NET "topsegB" LOC = "G13" | IOSTANDARD=LVCMOS33;
NET "topsegC" LOC = "N15" | IOSTANDARD=LVCMOS33;
NET "topsegD" LOC = "P15" | IOSTANDARD=LVCMOS33;
NET "topsegE" LOC = "R16" | IOSTANDARD=LVCMOS33;
NET "topsegF" LOC = "F13" | IOSTANDARD=LVCMOS33;
NET "topsegG" LOC = "N16" | IOSTANDARD=LVCMOS33;
